body {
  background-color: hsl(0, 0%, 96%);
}

.top-nav {
  background: #000;
}

.top-nav a {
  color: white;
  text-decoration: none;
}

.main-menu {
  display: flex;
  list-style: none;
}

.main-menu li {
  margin-left: 15px; 
}

.active {
  color: red;
}

.hamburguer {
  cursor: pointer;
}

.amp {
  font-family: Baskerville,
  'Goudy Old Style',
  Palatino,
  'Book Antiqua',
  serif;
  font-style: italic;
  font-weight: normal;
}

.line-through {
  text-decoration: line-through;
}